html {
  height: 100%;
  font-size: 125%;
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    font-size: 100%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: $font-body;
  background-image: url('../images/unsplash-604757.jpg');
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
