html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: $font-body;

  // background-image: url('../images/bharath-suresh-388435-unsplash.jpg');
  // background-size: contain;

  background-image: url('../images/unsplash-bricks.jpg');
  background-size: cover;

  // background-image: url('../images/rawpixel-669612-unsplash.jpg');
  // background-size: cover;

  // background-image: url('../images/footprints-309158_1280.png');
  // background-size: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}
