.btn {
  display: inline-block;
  appearance: none;
  padding: 7px 15px;
  border: 1px solid $color-btn-default;
  border-radius: 2px;
  color: $color-btn-default;
  background: transparent;
  transition: background 200ms ease;

  &:hover {
    text-decoration: none;
    color: $color-btn-default--text;
    background: $color-btn-default--hover;
  }
}
