.blogPostPreview {
  border-bottom: 1px solid $color-blogPostBorder;
  margin-bottom: 20px;
}

.blogPostPreview-header {
  margin-bottom: 10px;
}

.blogPostPreview-title {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.blogPostPreview-date {
  font-size: 14px;
  color: $color-date;
}
