.portfolioItem {
  margin-bottom: 30px;
}

.portfolioItem-header {
  margin-bottom: 10px;
}

.portfolioItem-title {
  margin-bottom: 5px;
  font-size: 32px;
}

.portfolioItem-date {
  font-size: 14px;
  color: $color-date;
}
