.post-date {
  font-size: 14px;
  text-transform: uppercase;
  color: $color-date;
}

.post-signatureContainer {
  float: right;

  @media screen and (min-width: 768px) {
    padding-right: 140px;
  }
}

.post-signature {
  max-width: 180px;
}
