.sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  z-index: 2;
  width: 80%;
  max-width: 300px;
  border-right: 1px solid $color-siteInnerBorders;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transition: left 150ms ease-in-out;

  &.is-active {
    left: 0;
  }

  @media (min-width: 768px) {
    position: static;
    max-width: 200px;
    box-shadow: none;
  }
}

.sidebar-nav {
  margin: 0;
  list-style: none;
}

.sidebar-navItem {
  margin: 0;
}

.sidebar-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 35px;
  border-bottom: 1px solid $color-sidebarLinkBorder;
  font-size: 24px;
  font-family: $font-header;
  letter-spacing: 3px;
  text-decoration: none;

  &:hover,
  &.is-active {
    color: $color-sidebarLinkActive;
  }
  &:hover {
    text-decoration: none;
  }
  &.is-active {
    .sidebar-linkPaw {
      display: inline-block;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 3px 35px;
  }
}

.sidebar-linkPaw {
  display: none;
  font-size: 16px;
  position: absolute;
  left: 10px;
  path {
    fill: $color-sidebarLinkActive;
  }
}

.sidebar-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.3;
  z-index: 1;

  // TODO: Add fade-in effect for sidebar background
  transition: opacity 80ms ease-out;

  @media (min-width: 768px) {
    display: none;
  }
}

.social {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-size: 30px;
  list-style: none;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.social-item {
  margin: 0 4px;
}

.social-icon {
  color: rgba(0, 0, 0, 0.7);
  &:hover {
    color: $color-sidebarLinkActive;
  }
}

.social-icon--linkedin {
  position: relative;
  top: -2px;
}
